@import '../scss/global';
@import '../scss/vars';

// canvas {
//   width: 100%;
//   height: 100%;
//   z-index: 0;
// }

#particles-js {
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  background-color: #17328c;
  z-index: -1;
}

.header {
  background: transparent;
  height: 150px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: rgb(4, 243, 24);
  h1 {
    margin-bottom: 3.5rem;
    span {
     background-size:  100% 15%;
     background-repeat: repeat-x;
     background-position: left 0% bottom 10%;
     background-image: linear-gradient(179deg,rgb(254, 97, 158) 0%, rgb(254, 97, 158) 50%,transparent 54%, transparent 100%);
    }
  }
}

// tech
.tech-inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.tech-item{
  width: 10%;
  margin-bottom: 50px;
  text-align: center;
  img{
    width: 100%;
    height: auto;
    display: block;
  }
}

// works
.works-inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -50px;
}
.works-item{
  max-width: calc(25% - 50px);
  margin-left: 50px;
  width: 100%;
  img{
    width: 100%;
    height: auto;
    display: block;
  }
}