@media (max-width: 1250px) {
  .about {
    padding-top: 480px;
    padding-bottom: 150px;
  }

  .about__info {
    margin: 0 auto;
    max-width: 800px;
    z-index: 2;

    .about__img {
      position: absolute;
      top: -45px;
      left: 50%;
      margin-left: -245px;
      max-width: 490px;
      height: auto;
      z-index: 0;
      opacity: .15;
    }

    p {
      font-size: 16px;
    }
  }
}

@media (max-width: 1110px) {
  .header {
    min-height: 700px;
  }

  .about {
    padding-top: 0;
  }

  .order {
    position: static;
    margin-left: 0;
    max-width: 100%;
    margin-bottom: 170px;
  }

  .order__content {
    padding: 35px 61px;
  }
}

@media (max-width: 1150px) {
  .programs {
    padding: 50px 0 0;
  }

  .programs__inner {
    display: block;
  }

  .programs__item {
    max-width: 100%;
    display: flex;
    margin-bottom: 50px;

    &-content {
      width: 100%;
    }

    &-text {
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 10px;
    }
  }

  .team {
    padding: 50px 0 30px;
  }

  .team__inner {
    display: block;
  }

  .team__item {
    max-width: 100%;
    margin-bottom: 50px;
  }

  .team__item-job {
    margin-bottom: 20px;
  }

  .media__item:first-child {
    display: none;
  }

  .footer__inner {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .footer__info {
    max-width: 100%;
    margin-bottom: 60px;
  }

  .footer__blogs {
    margin: 0 60px 60px 0;
  }
}

@media (max-width: 1050px) {
  .header {
    background-position: 70% center;

    .header__top {
      position: relative;
    }

    .header__logo {
      padding-left: 30px;
    }

    .menu {
      width: auto;
      margin-right: 30px;

      ul {
        display: none;
        position: absolute;
        background: $main;
        width: 50%;
        text-align: center;
        right: 0;
        padding: 10px 0;

        li {
          display: block;

          a {
            font-size: 14px;
            width: 100%;
          }
        }
      }
    }

    .menu__left {
      top: 77px;
    }

    .menu__right {
      top: 325px;
      margin-right: 0;
      border-top: 2px solid #fff;
    }

    .menu__btn {
      display: block;
    }
  }

  .order__content {
    padding: 35px 35px;
  }
}

@media (max-width: 960px) {
  .order {
    min-height: auto;
    margin-bottom: 135px;
  }

  .order__img {
    display: none;
  }

  .order__content {
    padding: 35px 161px;

    button {
      margin-top: 25px;
    }
  }

  .programs__item {
    &-content {
      padding: 20px 40px 20px;
    }
  }

  .scrollup {
    right: 50px;
  }
}

@media (max-width: 860px) {

  .order__content {
    padding: 35px 111px;
  }
}

@media (max-width: 730px) {
  .header__top {
    margin-bottom: 70px;
  }

  .order {
    form {
      display: block;
    }
  }

  .order__content {
    padding: 35px 25px;

    .time input,
    .date input {
      padding-left: 25px;
    }
  }

  .order__content h3 {
    font-size: 30px;
  }

  .order__content input,
  .order__content .jq-selectbox {
    max-width: 100%;
    width: 100%;
  }

  .order__content .time::after,
  .order__content .date::after {
    top: 2px;
    right: -13px;
  }
}

@media (max-width: 670px) {
  .header {

    .menu {

      ul {
        width: 100%;

      }
    }
  }

  .programs__inner {
    display: flex;
    flex-wrap: wrap;
  }

  .programs__item {
    width: 100%;
    display: block;
    margin-bottom: 40px;

    &-content {
      width: 100%;
    }

    img {
      width: 100%;
    }

    &-text {
      margin-bottom: 30px;
    }
  }

  .banner {
    background-position: 80%;
  }

  .banner h3 {
    font-size: 55px;
    margin: 38px 0 38px;
  }

  .footer {
    padding-top: 50px;
  }

  .footer__form input {
    max-width: 100%;
  }

  .scrollup {
    right: 15px;
    bottom: 15px;
  }
}

@media (max-width: 530px) {
  .header {
    min-height: 570px;
  }

  .header__banner-inner h1 {
    font-size: 40px;
    line-height: 60px;
  }

  .order {
    margin-bottom: 90px;
  }

  .about {
    padding-bottom: 90px;
  }

  .about__info {

    .about__img {
      max-width: 360px;
      margin-left: -180px;
      top: 60px;
    }
  }

  .media__item {
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px 0 90px;
  }

  .footer__form {
    flex-wrap: wrap;
  }

  .footer__form input {
    height: 40px;
    margin-bottom: 10px;
  }
}

@media (max-width: 460px) {
  .header {
    .menu__right {
        height: 195px;
    }
  }

  .order__content {
    padding: 35px 25px;
  }

  .about__info {

    .about__img {
      max-width: 300px;
      margin-left: -150px;
      top: 160px;
    }
  }

  .programs__item {
    &-content {
      padding: 20px 10px;
    }
  }

  .banner {
    background-position: 69%;
  }

  .footer__form .btn {
    width: 100%;
  }

  .footer__info-social {
    display: block;
    margin-bottom: 60px;

    ul {
      margin-top: 10px;

      li:first-child {
        a {
          padding-left: 0;
        }
      }
    }
  }

  .footer__blogs {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 30px;

    &-item {
      display: block;
      margin-bottom: 30px;
    }

    .footer__blog-img {
      margin-bottom: 10px;
    }

    img {
      max-width: 100%;

    }

    &-text {
      max-width: 100%;
    }
  }
}

@media (min-width: 1050px) {
  .header {
    ul {
      display: block !important;
    }
  }
}